<!doctype html>
<head>
    <title>Fairfax County OpenAI POC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!--<img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <img src="https://www.fairfaxcounty.gov/themes/bootstrap-8.x-3.0-rc2/bootstrap/css/images/seal.png">
            <h1 class="display-6 fw-bold">Response</h1>
	    <p class="fs-5">
                {{name['question']}}
            </p>
            <p class="fs-4">
                {{name['txt']}}
            </p>
            <p class="fs-5" style="font-size: medium !important; color: gray !important;font-style: italic !important;">
                {{name['sql']}}
            </p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">Back home</a>
          </div>
     </main>      
   </body>
</html>